/* common */
.center {
    margin: auto;
}
/*.loginbox {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 32%;
    right: 32%;
    padding: 30px 50px;
}*/
.loginbox h1{
    text-align: center;
    font-family: Microsoft YaHei;
    color: #317eac;
}
.loginbox form{
    margin-top: 40px;
}
.loginbox .form-group{
    margin-bottom: 20px;
}
.loginbox button{
    margin-top: 10px;
}
.logout{
    padding: 0px 10px;
}
body{
    background-image: url("../img/login_bg.jpg");
    background-size: 100%;
}
.loginbox {
    /*height: 400px;*/
    width: 400px;
    /*position: absolute;
    top: 25%;
    bottom: 20%;
    left: 37%;
    right: 32%;*/
    position: relative;
    margin: auto;
    margin-top: 150px;
    padding: 10px 30px 50px;
}
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    height: 40px;
}
.btn-lg {
    padding: 6px 12px;
}
.logo{
    text-align: center;
    position: absolute;
    top: 20%;
    font-size: 30px;
    color: white;
    width: 100%;
}